<!--start header-->
<div class="header">
<img src="/assets/tyt-scene.jpg" class="tyt-scene">
<div class="header-top navbar-fixed-top">
  <div class="container">
      <div class="logo">
        <a href="index.html"><img class="logo" src="assets/logo-mini.png" alt=""/></a>
      </div>
      <div class="menu">
        <a class="toggleMenu" href="#"><img src="assets/menu-white.png" alt="" /></a>
          <ul class="nav" id="nav">
             <li><a href="#mission" class="scroll">Our Mission</a></li>
             <li><a href="#programmes" class="scroll">Programmes</a></li>
             <li><a href="#history" class="scroll">History</a></li>
             <li><a href="#donate" class="scroll">Donate</a></li>
             <li><a href="#contact" class="scroll">Contact</a></li>                               
             <div class="clear"></div>
          </ul>
      </div>                          
      <div class="clear"></div>
      
     </div>
   </div>
   <div class="header-bottom" id="home">
     <h1>BE BOLD</h1>
     <h2>PUSH BOUNDARIES</h2>
   </div>
</div>
<!--end header-->
<!--start services-->
<div class="services" id="mission">
  <div class="container">
      <div class="row">
          <h3 class="m_3">OUR MISSION</h3>
          <div class="m_4"><span class="bottom_line"> </span></div>
          <div class="col-md-12 top_grid">
              
              <p class="m_2">We are a registered charity giving young people (ages 14-20) the opportunity to explore and to reach their creative potential through a quality theatre arts experience. 

              The Youth Theatre endeavors to lead in unlocking the creative potential, confidence and self-development of young people through performance and the theatre process.</p>
          </div>
      </div>
  </div>
</div>
<!--end services-->
<!--start portfolio-->
<div class="Portfolio1" id="programmes">
  <div class="container"> 
          <div class="portfolio_top">
              <div class="portfolio_left">
                <h3 class="m_5" style="color:#ffffff;">Current Programmes</h3>
                <div class="m_4"><span class="bottom_line" style="margin:0px;"> </span></div>
              </div>
          </div>
              <br>
            <div class="col-md-12 top_grid">
              <div class="col-sm-12 col-md-4 program">
                <div class="thumbnail">
                  <img src="/assets/thirteen.jpg" alt="Thirteen, the Musical">
                  <div class="caption">
                    <h3>Thirteen the musical</h3>
                    <p><div class="button"><a data-toggle="modal" data-target="#myModal" href="#">More Info</a></div></p>
                  </div>
                </div>
              </div>  
              <div class="col-sm-12 col-md-4 program">
                <div class="thumbnail">
                  <img src="/assets/sweeneytodd.jpg" alt="Sweeney Todd">
                  <div class="caption">
                    <h3>Sweeney Todd</h3>
                    <p><div class="button"><a href="#">More Info</a></div></p>
                  </div>
                </div>
              </div>  
              <div class="col-sm-12 col-md-4 program">
                <div class="thumbnail">
                  <img src="/assets/wicked.png" alt="Wicked">
                  <div class="caption">
                    <h3>Wicked / Wizard of OZ</h3>
                    <p><div class="button"><a href="#">More Info</a></div></p>
                  </div>
                </div>
              </div>  
            </div>
    </div><!-- container -->
 </div>
</div>
</div>
</div>
<!--end portfolio-->
<!--start modals-->

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--end modals-->
<!--start twitter-->
 <div class="history" id="history">
  <div class="container">
    <div class="twitter_left">
      <h3 class="m_21">History</h3>
          <div class="m_22"><span class="default_line"> </span></div>
    </div>
    <i class="icon_twitter"> </i>
    <div class="clear"></div>
    <p class="m_9">Since 2005 the Toronto Youth Theatre has striven to produce uncompromising theatre with young actors. Today, with more than 25 shows under our belts we have positioned ourselves as Toronto's premiere youth theatre. Rehearsing and performing in the professional theatre company space of LOT, TYT provides a professional experience to young actors in all aspects of production.</p>
  </div>
</div>
<!--end twitter-->
<!--start join-->
<div class="donate" id="donate">
  <div class="container">
      <div class="row">
          <h3 class="m_3">Donate</h3>
            <div class="m_4"><span class="bottom_line"> </span></div>
          <div class="col-md-12">
            <p class="m_10">The Toronto Youth Theatre is a registered charitable donation and is made possible through the generous donations of people like you. </p>
            <p class="m_11">
              <div class="button">
                <a href="https://www.canadahelps.org/en/charities/toronto-youth-theatre/" target="_blank">
                  Donate Now
                </a>
              </div>
            </p>
          </div>
      </div>
  </div>
</div>
<!--end join-->
<!--start contact-->
<div class="contact" id="contact">
  <div class="container">
      <div class="row">
          <h3 class="m_3">Contact</h3>
          <div class="m_4"><span class="bottom_line"> </span></div>
            <form>
              <div class="col-md-6 commentform">
                <p class="comment-form-author"><label for="author">Name</label>
                  <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                </p>
                 <p><label for="author">Email</label>
                  <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                </p>
              </div>
              <div class="col-md-6 commentform_desc">
                  <div class="address">
                   <h3 style="color:#ffffff;">Adeen Ashton | Director</h3>
                   <p>Phone: (416) 915-6747</p>
                   <p>Email: <a href="mailto:adeen.TYT@gmail.com"><span>adeen.TYT@gmail.com</span></a></p>
                  </div>
                  <p class="m_13" style="padding-top:20px;">Adeen is the Artistic Director of the Toronto Youth Theatre. She has performed in numerous London West-End Musicals and she has regularly featured as a soloist on BBC Radio. Currently Adeen teaches voice at Sheridan College and performs in musicals at the Lower Ossington Theatre. </p>
               </div>
               <div class="clear"></div>
               <div class="contactform_bottom">
                 <span><label>Subject</label></span>
                 <span><textarea name="userMsg"> </textarea></span>
                 <input type="submit" value="Message">
               </div>
               <div class="col-md-6 commentform_desc1">
                  <p class="m_13">Adeen has performed in numerous London West-End Musicals including ‘Les Miserables’, ‘Oliver’, ‘Whistle Down the Wind’ (Lloyd-Webber) ‘the Rocky Horror Show’ and she has regularly featured as a soloist on BBC Radio. She was vocal coach on the BBC Reality TV Series “Get Your Act Together” and has coached students in acting and singing at many London Performing Arts Colleges, Conservatoires and Universities. (Including the Italia Conti Academy of Theatre Arts, Middlesex University, the Urdang Academy, Arts Educational Schools, the Academy of Live and Recorded Arts, the Actor’s Centre and Webber Douglas Academy).
 
Adeen also served as the Senior Arts Advisor for West London schools and colleges and was commissioned to compose numerous songs and concert productions including a song for the London 2012 Olympics. Currently Adeen teaches voice at Sheridan College and performs in musicals at the Lower Ossington Theatre. Adeen is the Artistic Director of the Toronto Youth Theatre</p>
                 <div class="address">
                   <p>500 Lorem Ipsum Dolor Sit,</p>
                   <p>Phone:(00) 222 666 444</p>
                  <p>Fax: (000) 000 00 00 0</p>
                  <p>Email: <a href="mailto:info@example.com"><span>support[at]snow.com</span></a></p>
                  <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                  </div>
               </div>
              </form>
           </div>
     </div>
</div>
<div class="footer-bottom">
  <div class="container">
      <ul class="footer-nav">
          <li><a href="#home" class="scroll">Our Mission</a></li> |
             <li><a href="#services" class="scroll">Programs</a></li> |
             <li><a href="#features" class="scroll">History</a></li> |
             <li><a href="#portfolio" class="scroll">Donate</a></li> |
             <li><a href="#contact" class="scroll">Contact</a></li>
      </ul>
      <div class="clear"></div>
  </div>
</div>
<!--end contact-->
<script type="text/javascript">
      $(document).ready(function() {
      
          var defaults = {
              containerID: 'toTop', // fading element id
              containerHoverID: 'toTopHover', // fading element hover id
              scrollSpeed: 1200,
              easingType: 'linear' 
          };

          $(window).on('scroll', function(){
            var st = $(this).scrollTop();

            var limit = 40;

            if(st <= limit){
              $('.header-top').css('background-color', 'rgba(73, 84, 91, 1)');
              //$('.header-top').css('background-color', 'rgba(73, 84, 91, '+(st/limit)+')');
            }
            else{
              $('.header-top').css('background-color', 'rgba(73, 84, 91, 1)');
            }
          });
          
      });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
