<!--start header-->
<div class="header">
<img src="/assets/tyt-scene.jpg" id="tyt-scene" class="tyt-scene">
<img src="/assets/tyt-lines.png" id="tyt-lines" class="tyt-scene" style="display:none;">
<div class="header-top navbar-fixed-top">
  <div class="container">
      <div class="logo">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a href="index.html"><h1 style="font-family: Silver; color: #ffffff;">TYT</h1></a>
      </div>
      <div class="menu navbar-collapse collapse">
        <a class="toggleMenu" href="#"><img src="assets/menu-white.png" alt="" /></a>
          <ul class="nav" id="nav">
             <li><a href="#mission" class="scroll">Our Mission</a></li>
             <li><a href="#programmes" class="scroll">Programmes</a></li>
             <li><a href="#history" class="scroll">History</a></li>
             <li><a href="#donate" class="scroll">Donate</a></li>
             <li><a href="#contact" class="scroll">Connect</a></li>                               
             <div class="clear"></div>
          </ul>
      </div>                          
      <div class="clear"></div>
      
     </div>
   </div>
   <div class="header-bottom" id="home">
    <p>
     <span class="title">Toronto Youth Theatre</span>
    </p>
     <br>
     <p>
     <span class="subtitle">BE BOLD, PUSH BOUNDARIES!</span>
   </p>
   </div>
</div>
<!--end header-->
<!--start services-->
<div class="services" id="mission">
  <div class="container">
      <div class="row">
          <h3 class="m_3">OUR MISSION</h3>
          <div class="m_4"><span class="bottom_line"> </span></div>
          <div class="col-md-12 top_grid">
              
              <p class="m_2">We are a registered charity giving young people (ages 14-20) the opportunity to explore and to reach their creative potential through a quality theatre arts experience.</p>
              <br>
              <p class="m_2">The Youth Theatre endeavors to lead in unlocking the creative potential, confidence and self-development of young people through performance and the theatre process.</p>
          </div>
      </div>
  </div>
</div>
<!--end services-->
<!--start portfolio-->
<div class="Portfolio1" id="programmes">
  <div class="container"> 
          <div class="portfolio_top">
              <div class="portfolio_left">
                <h3 class="m_5" style="color:#ffffff;">Current Programmes</h3>
                <div class="m_4"><span class="bottom_line" style="margin:0px;"> </span></div>
              </div>
          </div>
              <br>
            <div class="col-md-12 top_grid">
              <div class="col-sm-12 col-md-4 program">
                <div class="thumbnail">
                  <img src="/assets/thirteen.jpg" alt="Thirteen, the Musical">
                  <div class="caption">
                    <h3>Thirteen: The Musical</h3>
                    <p><div class="button"><a data-toggle="modal" data-target="#thirteenModal" href="#">More Info</a></div></p>
                  </div>
                </div>
              </div>  
              <div class="col-sm-12 col-md-4 program">
                <div class="thumbnail">
                  <img src="/assets/sweeneytodd.jpg" alt="Sweeney Todd">
                  <div class="caption">
                    <h3>Sweeney Todd</h3>
                    <p><div class="button"><a data-toggle="modal" data-target="#sweeneyModal" href="#">More Info</a></div></p>
                  </div>
                </div>
              </div>  
              <div class="col-sm-12 col-md-4 program">
                <div class="thumbnail">
                  <img src="/assets/wicked.png" alt="Wicked">
                  <div class="caption">
                    <h3>Wicked / Wizard of OZ</h3>
                    <p><div class="button"><a data-toggle="modal" data-target="#wickedModal" href="#">More Info</a></div></p>
                  </div>
                </div>
              </div>  
            </div>
    </div><!-- container -->
 </div>
</div>
</div>
</div>
<!--end portfolio-->
<!--start modals-->

<div id="thirteenModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">WINTER AND SPRING PROGRAMME AGES 14-18</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/thirteen.jpg" alt="Thirteen" class="programme-info-image">
        <p>Rehearse and perform the songs and story of the Broadway Musical ‘Thirteen’ </p>
        <p>
Sundays   10:00 A.M. until 2:00 P.M.<br>
January 17- May 15<br>
The Lower Ossington Theatre, 100 Ossington Ave.<br>
Cost:  $500.00<br>
Ages:  14-18 
        </p>
      </div>
      <div class="modal-footer">
        <div class="button">
          <a href="https://tickets.ticketwise.ca/event/tyt-winter-spring-2016" target="_blank">Register Now</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="sweeneyModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">WINTER AND SPRING PROGRAMME AGES 18-29</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/sweeneytodd.jpg" alt="Sweeney Todd" class="programme-info-image">
        <p>Rehearse and perform the songs and story of ‘Sweeney Todd’ </p>
        <p>
Saturdays   10:00 A.M. until 2:00 P.M.<br>
January 16- May 15<br>
The Lower Ossington Theatre, 100 Ossington Ave.<br>
Cost:  $500.00<br>
Ages:  14-18 
        </p>
      </div>
      <div class="modal-footer">
        <div class="button">
          <a href="https://tickets.ticketwise.ca/event/tyt-winter-spring-2016" target="_blank">Register Now</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="wickedModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">The Wizard of Oz / Wicked</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/wicked.png" alt="Wicked" class="programme-info-image">
        <p>Rehearse and perform a mash from Wicked/Wizard of Oz in 5 days!</p>
        <p>
Monday, March 14 – Friday, March 18, 2016 <br>
January 17- May 15<br>
The Lower Ossington Theatre, 100 Ossington Ave.<br>
Cost:  $500.00<br>
Ages:  14-18 
        </p>
      </div>
      <div class="modal-footer">
        <div class="button">
          <a href="https://tickets.ticketwise.ca/event/tyt-winter-spring-2016" target="_blank">Register Now</a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--end modals-->
<!--start twitter-->
 <div class="history" id="history">
  <div class="container">
    <div class="twitter_left">
      <h3 class="m_21">History</h3>
          <div class="m_22"><span class="default_line"> </span></div>
    </div>
    <div class="clear"></div>
    <p class="m_9">Since 2005 the Toronto Youth Theatre has striven to produce uncompromising theatre with young actors. Today, with more than 25 shows under our belts we have positioned ourselves as Toronto's premiere youth theatre.</p>
    <br>
    <p class="m_9">Rehearsing and performing in the professional theatre company space of LOT, TYT provides a professional experience to young actors in all aspects of production.</p>
  </div>
</div>
<!--end twitter-->
<!--start join-->
<div class="donate" id="donate">
  <div class="container">
      <div class="row">
          <h3 class="m_3">Donate</h3>
            <div class="m_4"><span class="bottom_line"> </span></div>
          <div class="col-md-12">
            <p class="m_2">The Toronto Youth Theatre is a registered charitable donation and is made possible through the generous donations of people like you. </p>
            <p class="m_11" style="text-align:center; padding-top:20px;">
              <div class="button" style="text-align:center;">
                <a href="https://www.canadahelps.org/en/charities/toronto-youth-theatre/" target="_blank">
                  Donate Now
                </a>
              </div>
            </p>
          </div>
      </div>
  </div>
</div>
<!--end join-->
<!--start contact-->
<div class="contact" id="contact">
  <div class="container">
      <div class="row">
          <h3 class="m_3">Connect</h3>
          <div class="m_4"><span class="bottom_line"> </span></div>
              <div class="col-md-6 commentform_desc">
                  <div class="address">
                   <h3 style="color:#ffffff;">Adeen Ashton | Artistic Director</h3>
                   <p>Phone: (416) 915-6747</p>
                   <p>Email: <a href="mailto:adeen.TYT@gmail.com"><span>adeen.TYT@gmail.com</span></a></p>
                  </div>
                  <p style="padding-top:20px; color:#ffffff;">Adeen is the Artistic Director of the Toronto Youth Theatre. She has performed in numerous London West-End Musicals and she has regularly featured as a soloist on BBC Radio. Currently Adeen teaches voice at Sheridan College and performs in musicals at the Lower Ossington Theatre. </p>
               </div>
              <div class="col-md-6 commentform">
                <p class="comment-form-author" style="text-align:center;">
                  <a class="social-media facebook-link" href="https://www.facebook.com/TorontoYouthTheatre" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a>
                  <a class="social-media youtube-link" href="https://www.youtube.com/user/torontoyouththeatre" target="_blank">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                  </a>
                  <a class="social-media email-link" href="mailto:adeen.TYT@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
               <div class="clear"></div>
           </div>
     </div>
</div>
<div class="footer-bottom">
  <div class="container">
      <ul class="footer-nav">
          <li><a href="#home" class="scroll">Our Mission</a></li> |
             <li><a href="#features" class="scroll">History</a></li> |
             <li><a href="#services" class="scroll">Programs</a></li> |
             <li><a href="#portfolio" class="scroll">Donate</a></li> |
             <li><a href="#contact" class="scroll">Contact</a></li>
      </ul>
      <div class="clear"></div>
  </div>
</div>
<!--end contact-->
<script type="text/javascript">
      $(document).ready(function() {
      
          var defaults = {
              containerID: 'toTop', // fading element id
              containerHoverID: 'toTopHover', // fading element hover id
              scrollSpeed: 1200,
              easingType: 'linear' 
          };

          $(window).on('scroll', function(){
            var st = $(this).scrollTop();

            var limit = 550;

            if(st <= limit){
              $('#tyt-scene').show();
              $('#tyt-lines').hide();
            }
            else{
              $('#tyt-scene').hide();
              $('#tyt-lines').show();
            }
          });
          
      });
  </script>
  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
