


    <!--start header-->
    <div class="header">
      <div class="header-top">
        <div class="container">
            <div class="logo">
              <a href="index.html"><img src="images/logo.png" alt=""/></a>
            </div>
            <div class="menu">
              <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /></a>
                <ul class="nav" id="nav">
                   <li><a href="#home" class="scroll">Home</a></li>
                   <li><a href="#services" class="scroll">Services</a></li>
                   <li><a href="#features" class="scroll">Features</a></li>
                    <li><a href="#portfolio" class="scroll">Portfolio</a></li>
                   <li><a href="#contact" class="scroll">Contact</a></li>                               
                   <div class="clear"></div>
                </ul>
            </div>                          
            <div class="clear"></div>
            
           </div>
         </div>
         <div class="header-bottom" id="home">
           <h1>BE BOLD</h1>
           <h2>PUSH BOUNDARIES</h2>
         </div>
    </div>
    <!--end header-->
    <!--start services-->
    <div class="services" id="services">
        <div class="container">
            <div class="row">
                <h3 class="m_3">Services</h3>
                <div class="m_4"><span class="bottom_line"> </span></div>
                <div class="col-md-3 top_grid">
                    <i class="coffee"> </i>
                    <h3 class="m_1">Coffee</h3>
                    <p class="m_2">Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat..</p>
                </div>
                <div class="col-md-3 top_grid">
                    <i class="instant"> </i>
                    <h3 class="m_1">Instant</h3>
                    <p class="m_2">Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat..</p>
                </div>
                <div class="col-md-3 top_grid">
                    <i class="advisor"> </i>
                    <h3 class="m_1">Serious</h3>
                    <p class="m_2">Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat..</p>
                </div>
                <div class="col-md-3 top_grid1">
                    <i class="frame"> </i>
                    <h3 class="m_1">Frame</h3>
                    <p class="m_2">Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat..</p>
                </div>
            </div>
        </div>
     </div>
     <!--end services-->
     <!--start portfolio-->
     <div class="Portfolio1" id="portfolio">
        <div class="container"> 
                <div class="portfolio_top">
                    <div class="portfolio_left">
                      <h3 class="m_5">Portfolio</h3>
                      <div class="m_6"><span class="portfolio_line"> </span></div>
                    </div>
          <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                          <ul class="resp-tabs-list">
                              <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>All</span></li>
                              <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Panoramas</span></li>
                              <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Portraits</span></li>
                             <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Macro</span></li>
                              <div class="clearfix"> </div>
                          </ul> 
                <div class="resp-tabs-container">
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                    <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p1.jpg" class="img-responsive" alt="">
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2>
                                                    </div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p2.jpg" class="img-responsive" alt=""/>
                                                <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                                <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                             <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p4.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                                 <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p5.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p6.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p7.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                             <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p8.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                                                                     
                          </div>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                
                                 <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p4.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p2.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                             <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                                    <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p4.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p5.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p6.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                                                                     
                          </div>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                
                                      <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p7.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p8.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p1.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                    <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p2.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                                    <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p4.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        
                                            <div class="clearfix"> </div>
                                 </div>                                  
                          </div>
                           <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
                            <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p1.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p2.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                             <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p3.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                                 <div class="tab_img">
                                      <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p4.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                            <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p5.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                           <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                            <img src="images/p6.jpg" class="img-responsive" alt=""/>
                                                <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                        <div class="col-md-3 img-top ">
                                             <a href="single.html" rel="title" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/p7.jpg" class="img-responsive" alt=""/>
                                                 <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/plus.png" alt=""/></h2></div>
                                           </a>
                                        </div>
                                            <div class="clearfix"> </div>
                                 </div> 
                            </div>      
                  </div>
          </div><!-- container -->
       </div>
    </div>
  </div>
</div>
       <!--end portfolio-->
       <!--start default-->
       <div class="default" id="features">
        <div class="container">
          <div class="row">
            <div class="col-md-6 default_top">
                <h3 class="m_21">Just Default Section</h3>
                <div class="m_22"><span class="default_line"> </span></div>
                <p class="m_7">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                <p class="m_7">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                <div class="button"><a href="#">Visit Me</a></div>
            </div>
            <div class="col-md-6 video_player">
                <iframe src="//player.vimeo.com/video/1785993?color=ffffff" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/1785993"></a> <a href="http://vimeo.com/keithloutit"></a> <a href="https://vimeo.com"></a>.</p>
            </div>
          </div>
        </div>
       </div>
       <!--end default-->
       <!--start twitter-->
       <div class="twitter">
        <div class="container">
          <div class="twitter_left">
            <h3 class="m_21">Just Default Section</h3>
                <div class="m_22"><span class="default_line"> </span></div>
          </div>
          <i class="icon_twitter"> </i>
          <div class="clear"></div>
          <p class="m_9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>
      <!--end twitter-->
      <!--start join-->
      <div class="join">
        <div class="container">
            <div class="row">
                <h3 class="m_3">Who is Jphn Doe?</h3>
                  <div class="m_4"><span class="bottom_line"> </span></div>
                <div class="col-md-6 join_left">
                  <p class="m_10">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                  <p class="m_11">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                </div>
                <div class="col-md-6">
                  <p class="m_10">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie </p>
                  <ul class="social">   
                      <li class="twt"><a href="#"><span> </span></a></li>
                      <li class="google"><a href="#"><span> </span></a></li>
                      <li class="dribble"><a href="#"><span> </span></a></li>       
                      <li class="coffee"><a href="#"><span> </span></a></li>
                   </ul>
                </div>
            </div>
        </div>
      </div>
      <!--end join-->>
      <!--start testimonials-->
      <div class="testimonials">
        <div class="container">
            <div class="portfolio_left">
                <h3 class="m_5">Testimonials</h3>
                <div class="m_6"><span class="portfolio_line"> </span></div>
            </div>
            <i class="quotation"> </i>
            <div class="clear"> </div>
            <p class="m_12">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit</p>
            <span class="m_13">-quis nostrud volutpat</span>
        </div>
      </div>
      <!--end testimonials-->
      <!--start contact-->
      <div class="contact" id="contact">
        <div class="container">
            <div class="row">
                <h3 class="m_3">Contact</h3>
                <div class="m_4"><span class="bottom_line"> </span></div>
                  <form>
                    <div class="col-md-6 commentform">
                      <p class="comment-form-author"><label for="author">Name</label>
                        <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                      </p>
                       <p><label for="author">Email</label>
                        <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                      </p>
                    </div>
                    <div class="col-md-6 commentform_desc">
                        <p class="m_13">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>
                       <div class="address">
                         <p>500 Lorem Ipsum Dolor Sit,</p>
                         <p>Phone:(00) 222 666 444</p>
                        <p>Fax: (000) 000 00 00 0</p>
                        <p>Email: <a href="mailto:info@example.com"><span>support[at]snow.com</span></a></p>
                        <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                        </div>
                     </div>
                     <div class="clear"></div>
                     <div class="contactform_bottom">
                       <span><label>Subject</label></span>
                       <span><textarea name="userMsg"> </textarea></span>
                       <input type="submit" value="Message">
                     </div>
                     <div class="col-md-6 commentform_desc1">
                        <p class="m_13">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>
                       <div class="address">
                         <p>500 Lorem Ipsum Dolor Sit,</p>
                         <p>Phone:(00) 222 666 444</p>
                        <p>Fax: (000) 000 00 00 0</p>
                        <p>Email: <a href="mailto:info@example.com"><span>support[at]snow.com</span></a></p>
                        <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                        </div>
                     </div>
                    </form>
                 </div>
           </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
            <ul class="footer-nav">
                <li><a href="#">Home</a></li> |
                <li><a href="#">Services</a></li> |
                <li><a href="#">Portfolio</a></li> |
                <li><a href="#">Contact</a></li> 
            </ul>
            <div class="copy">
               <p> &copy; 2014 Blueasy. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
            <div class="clear"></div>
        </div>
      </div>
      <!--end contact-->
      <script type="text/javascript">
            $(document).ready(function() {
            
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                };
                
            });
        </script>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
